body {
    font-family: helvetica, arial, sans-serif;
    color: #555;
    background-color: #ddd
}
.container {
    width: 700px;
    margin: 2em auto
}
h1 {
    margin: .3em 0 .2em 0;
    font-size: 6em;
    text-align: center;
    white-space: nowrap
}
h2 {
    margin: 0;
    font-size: 1.5em;
    text-align: center
}
hr {
    /* margin: 20px 0; */
    border: 0;
    border-top: 2px solid #888
}
.options {
    width: 40%;
    display: inline-block;
    margin: 10px 0 0 70px
}
.right {
    margin-left: 0
}

/* 
label,
textarea,
select,
input,
textarea {
    display: block;
    font-family: helvetica, arial, sans-serif;
    color: #555;
    font-size: 1em
}
select {
    width: 98%;
    padding: 3px;
    margin: 5px 0 0 0;
    background-color: #ccc;
    border: 1px solid #555
} 
input {
    width: 150px;
    padding: 5px;
    margin: 10px 0 0 275px;
    font-weight: bold;
    background-color: #ccc;
    border: 1px solid #555;
    cursor: pointer;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px
}
textarea {
    width: 680px;
    height: 17em;
    padding: 10px;
    border: 0;
    font-size: .9em;
    line-height: 1.4em;
    background-color: #ccc
}
a {
    color: #555
}
.credit {
    font-size: .7em;
    text-align: center;
    margin-top: -15px
} */